:root {
    --background-color: #121212;
    --text-color: #DDDDDD;
    --primary-color: #1E90FF;
    --secondary-color: #0e4277;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

nav{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    padding: 1.5rem 1rem;
    color: var(--primary-color);
    box-shadow: 1px 1px 6px #1d1d1d;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav div{
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
}

nav div a{
    text-decoration: none;
    margin: 0 10px;
    color: var(--text-color);
}

nav div a:hover{
    color: var(--primary-color);
}

nav p{
    font-size: 22px;
}

#books{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.course-card {
    background-color: #1F1F1F;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    width: 300px;
}

.course-card h2 {
    color: var(--text-color);
    font-size: 20px;
}

.course-card p {
    color: #AAAAAA;
    font-size: 14px;
}

.course-card button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}



@keyframes fadeIn {
    0% {
    opacity: 0;
    transform: translateY(20px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}