:root {
  --background-color: #121212;     /* خلفية الموقع والهيدر والفوتر */
  --text-color: #DDDDDD;           /* النصوص والعناوين */
  --primary-color: #1E90FF;        /* الأزرار الرئيسية والعناصر البارزة */
  --secondary-color: #0e4277;      /* الأزرار الثانوية ولمسات التفاعل */
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    scroll-behavior: smooth;
}

body{
    background-color: var(--background-color);
}

nav{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-color);
    padding: 1.5rem 0.25rem;
    color: var(--primary-color);
    box-shadow: 1px 1px 6px #1d1d1d;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

nav div{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}

nav div a{
    text-decoration: none;
    margin: 0 5px;
    color: var(--text-color);
}

nav div a:hover{
    color: var(--primary-color);
}

nav p{
    font-size: 22px;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    color: var(--primary-color);
}

#home,#services,#about-us{
    color: var(--text-color);
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

#home img{
    width: 310px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
    border-radius: 15px;
}

#services div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

#services div div{
    box-sizing: border-box;
    background-color: var(--secondary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 270px;
    border-radius: 12px;
    align-items: center;
    height: 150px;
    margin-bottom: 5px;
}

#about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

#about-us p{
    width: 70%;
}

#about-us img{
    width: 340px;
    border-radius: 15px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}


footer{
    margin-top: 50px;
    background-color: #000;
    text-align: center;
    height: 100px;
    color: var(--text-color);
}

footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer div a{
    margin-left: 10px;
    text-decoration: none;
    color: var(--primary-color);
}

footer div a:hover{
    color: var(--text-color);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
